import {{pascalCase name}} from "./{{pascalCase name}}.tsx"

import {FC} from "react"


<!-- https://stackoverflow.com/questions/11924452/iterating-over-basic-for-loop-using-handlebars-js, mu is too short's answer
Handlebars.registerHelper('times', function(n, block) {
    var accum = '';
    for(var i = 0; i < n; ++i)
        accum += block.fn(i);
    return accum;
});
Handlebars.registerHelper('for', function(from, to, incr, block) {
    var accum = '';
    for(var i = from; i < to; i += incr)
        accum += block.fn(i);
    return accum;
});

var t = Handlebars.compile($('#t').html());
$('.container').append(t()); -->

const Container: FC = () => {
    return (
        <div className="container">
            <{{pascalCase name}} />
            {{#times num}}
                <{{pascalCasename}}-{{@index}} />
            {{/times}}
        </div>
    )
}

export default Container
